.navbar {
    background-color: rgb(184, 246, 184);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

ul li {
    list-style: none;
    font-family: sans-serif;
    font-weight: bold;
}

ul li:hover {
    cursor: pointer;
    color: rgb(16, 16, 218);
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}